*{
    padding: 0;
    margin: 0;
}
body{
    background-image: linear-gradient(30deg,cyan,royalblue,80%,#ffb100);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
header{
    display: inline-flex;
}
