li a {
    color: royalblue;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 25px;
    text-shadow: 1px 1px 1px blueviolet;
}
ul {
    display: inline-flex;
    gap: 30px;
    list-style: none;
    margin-top: 10px;
}
header {
    background-color: rgba(255, 255, 255, 0.263);
    width: 100vw;
    box-shadow: 2px 0px 3px 2px rgba(0, 0, 0, 0.448);
    padding-top: 10px;
    padding-left: 20px;
    height: 80px;
}   
.NavList {
    position: absolute;
    right: 50px;
}
.logo {
    background: linear-gradient(45deg, cyan, #ffb100);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 40px;
}