*{
    color: #111564;
    text-shadow: 
                0 0 5px #fff,
                0 0 10px #90bfd5,   
                0 0 20px #2c98cb,   
                0 0 40px #04073c;
    font-size: 20px;
    font-weight: 800;
}
.cont {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrap{
    position: relative;
    left: 100px;
}
input[type="range"]{
    width: 90vw;
}
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
}
.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #90bfd5;
    transition: .4s;
    border-radius: 34px;
}

.toggle-switch input:checked + .slider {
    background-color: #05345a;
}
.toggle-slider {
    position: absolute;
    height: 26px;
    width: 26px;
    margin-left: -webkit-calc(50% - 13px);
    margin-left: calc(0%);
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}
.toggle-switch input:checked + .slider .toggle-slider {
    transform: translateX(26px);
}