*{padding: 0;margin: 0;}
body{
    background-image: url(../assets/background.jpg);
    background-position: 20% 10%;
    background-repeat: no-repeat;
}
header {
    display: flex;
    width: 100wh;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.256);
    backdrop-filter: blur(10px);
    box-shadow: 4px 4px 14px 3px rgba(0, 0, 0, 0.259);
}
header nav h1{display: inline-block;color: #2c98cb;text-shadow: 1px 2px 3px black;position: relative;bottom: 5px;}

nav ul {display: inline-flex;gap: 20px ;list-style: none}

nav ul a ,#box a {color: #111564;text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.515);font-size: 24px;font-weight: 900;text-decoration: none}
/* position the menu element ! */
nav ul a #menu{position: relative;top: 5px;font-size: 30px;scale: 1.2;left: 4px;}

#menu2 {position: absolute;right: 24px;top: 10px;font-size: 35px;color: #111564}

nav {width: 50%;margin-top: 10px}

#nav1 {margin-left: 10px}

#nav2 ul {position: absolute;right: 30px}

li a:hover ,#menu2:hover ,#box a:hover{
    color: #111564;
    text-shadow: 
        0 0 5px #fff,
        0 0 10px #90bfd5,   
        0 0 20px #2c98cb,   
        0 0 40px #04073c
}
/* the cube animation  */
.cube-wrapper {height: 33px;overflow: hidden;line-height: 30px;cursor: pointer;position: relative;bottom: 35px;left: 30px;font: 24px}
.cube-roller {display: flex;flex-direction: column;transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);}
.cube-wrapper:hover .cube-roller {transform: translateY(-30px)}
.text-top, .text-bottom {display: block;height: 30px;padding: 0 10px}
.text-bottom , #arch{color:#2c98cb}
/* cube animation ends here ! */
#box {
    z-index: 200;
    display: none;
    top: 20vh;
    left: calc(50vw - 150px);
    font-size: 30px;
    position: absolute;
    width: 300px;
    height: 300px;
    color: white;
    list-style: none;
    border: 1px solid rgba(255, 255, 255, 0.425);
    border-radius: 7px;
    background-color: #90bfd557;
    backdrop-filter: blur(20px);
    align-items: center;
    text-align: center;
    padding-top: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.434),
                6px 6px 6px rgba(0, 0, 0, 0.239),
                10px 10px 10px rgba(0, 0, 0, 0.068);
}
@media (max-width: 520px) {
    #nav2 {
        display: none !important; 
    }
    #menu2 {
        display: block;
    }
}
iframe {
    display: none;
    cursor: pointer;
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.51);
    width: 300px;
    height: 40vh;
    z-index: 99;
    top: 20vh;
    border-radius: 7px;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.178);
    align-items: center;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.205);
}
.background {
    position: absolute;
    background-image: radial-gradient(rgba(10, 4, 75, 0.233),rgba(0, 0, 0, 0.855));
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100vh;
    display: none;
    z-index: 6;
}
#wrapper {
    height: 90vh;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
#nav2 ul li a:hover{
    text-decoration: none;
    text-transform: none;
    color: #111564;
    text-shadow: 
        0 0 5px #fff,
        0 0 10px #90bfd5,   
        0 0 20px #2c98cb,   
        0 0 40px #04073c;
}